.banner {
    z-index: 9999;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-bottom: 3px solid #B33125;
    background: #FFFFFF;
    box-shadow: 0 0 0.9px 1px rgba(0,0,0,.8);
    /*top: 0;*/
}
.banner .sponsor-image {
    margin: 3px 10px 0 10px;
}
.banner .banner-logo {
    float: left;
    margin: 5px 10px 0;
}
.banner .banner-title {
    float: left;
    margin: 5px 15px 0 20px;
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.banner .banner-sponsor {
    float: left;
    margin: 8px 0 0 20px;
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
/*.banner-social {
    float: right;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}*/
.banner .banner-social-email,
.banner .banner-social-twitter,
.banner .banner-social-facebook,
.banner .banner-support {
    float: right;
    font-size: 26px;
    margin: 0 15px 0 0;
}
.banner .banner-support {
    font-size: 14px;
    line-height: 1.1em;
    margin: 5px 15px 0 0;
    text-align: center;
}
.banner a,
.banner a.banner-title,
.banner a.banner-logo,
.banner a.banner-support,
.banner a.banner-social-twitter,
.banner a.banner-social-facebook,
.banner a.banner-social-email {
    text-decoration: none;
    font-weight: normal;
    color: #5A5A54;
}
/*#banner-logo:hover, #banner-social-twitter:hover, #banner-social-facebook:hover, #banner-social-email:hover, #banner-title:hover, #banner-support:hover {
    opacity: 0.7;
}*/
.banner .banner-title:hover,
.banner .banner-support:hover {
    text-decoration: underline;
    color: #000;
}


@media screen and (max-width: 725px) {  
    /*.banner .banner-social-facebook,
    .banner .banner-social-twitter {
        font-size: 20px;
        margin-top: 7px;
    }*/
    .banner .banner-sponsor {
        display: none;
    }
}

/* To match page title resizing with logo resizing in lens.js */
@media screen and (max-width: 600px) {
    .banner .banner-title {
        /*font-size: 16px;*/
        /*margin: 8px 12px 0 6px;*/
    }
}
