.result_details{
	display: none;
	white-space: nowrap;
	overflow: hidden;
}

.padding {
  opacity: .6;
  color: black;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}

.nondisplay{
  display: none;
}

.term{
	overflow: hidden;
	white-space: nowrap;
  text-align: left;
}

a#search_button {
  background-color: #B43018;
}