.result_details{
	white-space: nowrap;
	overflow: hidden;
}

.padding {
  opacity: .6;
  color: black;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}

.nondisplay{
  display: none;
}

.term{
	overflow: hidden;
	white-space: nowrap;
  text-align: left;
}

a#search_button {
  background-color: #B43018;
}

.inner-term {
  color: #B43018;
}

.custom-combobox-input {
  height: 100%;
}

span.custom-combobox.columns.small-10 {
  height: 35px;
}