.result_details{
	display: none;
	overflow: hidden;
}

.padding {
  opacity: .6;
  color: black;
  padding: 0px;
  overflow: hidden;
}

.term{
	padding-right: 0px;
	padding-left: 0px;
	overflow: hidden;
}