twitter/ark-tweet-nlp-0.3.2.jar
*bundle.js.map
nohup.out
.rookie.pwd
rookie_ui/node_modules/*
react_svg_chart/node_modules/*
*.jshintrc
*.DS_Store
stanford_corenlp_pywrapper/*
lens_downloader/files/*
corpora/*
*pyc
*log
data/lens_processed/*
*coverage
*.csv
*ygz
*.p
*joblib*
*json
data/lens
.coverage
devenv-key.pem
test.dot
.ipynb_checkpoints/
awsstuff/medrookie.pem
react_svg_chart/app/js/bundle.js
rookie_ui/doc_react/node_modules/*
rookie_ui/doc_react/app/*
webapp/static/js/bundle.js
.rope*
*.swp
articles/*
rookie/doc_react/.sass-cache/
indexes/*
*goose*
rookie_ui/doc_react/.sass-cache/*
.idea/*
summarization/*
twitter/grammar/*
twitter/candidatescorpus*
