*.jshintrc
*.DS_Store
gawk/*
stanford_corenlp_pywrapper/*
lens_downloader/files/*
*pyc
*log
data/lens_processed/*
*coverage
*.csv
*ygz
*.p
*joblib*
*json
data/lens
.coverage
devenv-key.pem
test.dot
.ipynb_checkpoints/
awsstuff/medrookie.pem
rookie_ui/doc_react/node_modules/*
rookie_ui/doc_react/app/*
experiment/static/js/bundle.js
articles/*
rookie/doc_react/.sass-cache/