appnope==0.1.0
awscli==1.8.6
beautifulsoup4==4.3.2
boto==2.38.0
botocore==1.2.4
Bottleneck==1.0.0
CherryPy==3.8.0
colorama==0.3.3
cov-core==1.15.0
coverage==3.7.1
cycler==0.9.0
decorator==3.4.2
docutils==0.12
Flask==0.10.1
funcsigs==0.4
gnureadline==6.3.3
html2text==2015.6.21
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.7.1
joblib==0.9.4
MarkupSafe==0.23
mock==1.3.0
ner==0.1
netifaces==0.10.4
networkx==1.9.1
nose==1.3.7
numpy==1.10.1
pandas==0.17.1
path.py==8.1.2
pbr==1.7.0
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.30
pyasn1==0.1.8
pylru==1.0.9
pyparsing==2.0.5
pytest==2.7.2
pytest-cov==1.8.1
python-coveralls==2.5.0
python-dateutil==2.4.2
python-Levenshtein==0.12.0
pytz==2015.7
PyYAML==3.11
redis==2.10.5
requests==2.7.0
rsa==3.1.4
scipy==0.16.1
sh==1.11
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.10
stanford-corenlp-pywrapper==0.1.0
termcolor==1.1.0
traitlets==4.0.0
ujson==1.34
urllib3==1.10.4
Werkzeug==0.11.3
wheel==0.24.0
Whoosh==2.7.0
wordcloud==1.1.3
