<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<title>Rookie</title>
<link rel="stylesheet" href="{{ROOKIE_CSS}}bootstrap.min.css"></link>
<link rel="stylesheet" href="{{ROOKIE_CSS}}react-datepicker.min.css"></link>


</head>

<body>


<div class="panel-body">
    <h3>Take me to...</h3>
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><a href="/?q=&corpus=syria">Rookie</a></button>
      <button type="button" class="btn btn-default"><a href="/search?q=&corpus=syria">Search engine</a></button>
      <button type="button" class="btn btn-default"><a href="https://goo.gl/forms/ZUA80izUsUHyzmO33">Quiz 1</a></button>
    </div>
</div>

</body>
</html>
