<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<script type="text/javascript">

var all_results = {{doc_list | safe}};
var binned_facets = {{binned_facets | safe}};
var q_data = {{q_datas | safe}};
var all_results = {{doc_list | safe}};
var g_facets = {{g_facets | safe}};
var chart_bins = {{chart_bins | safe}};
var f_counts = {{f_counts | safe}};
var corpus = "{{corpus}}";
var query = "{{query}}";

</script>

<title>Rookie</title>
<link rel="stylesheet" href="{{ROOKIE_CSS}}c3.min.css"></link>
<link rel="stylesheet" href="{{ROOKIE_CSS}}foundation.min.css"></link>
<link rel="stylesheet" href="{{ROOKIE_CSS}}styles.min.css"></link>

</head>

<body>

<div id="controls" class="row">

  <div>
    <div class="small-10 columns">
      <input id="search_bar" type="text" class="small-12 columns" value="{{query}}" placeholder="{{query}}"></input>
    </div>
    <div class="small-2 columns">
      <a href="#" class="button postfix" id="search_button">Search</a>
    </div>
  </div>

</div>

<div class="small-12 columns">
<div id="example"></div>
</div>

<script src="{{ROOKIE_JS}}bundle.js"></script>
<script type="text/javascript">
$(document).ready(function() {
     $("#search_button").on("click", 
        function(){location.href="{{baseurl}}?q=" + $("#search_bar").val();}
    );
    $(document).keypress(function(e) {
      if(e.keyCode == 13) 
        {
          location.href="{{baseurl}}?q=" + $("#search_bar").val();
        }
    });
});
</script>

</body>
</html>