<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<script type="text/javascript">

var q_data = {{stuff_ui_needs["q_data"] | safe}};
var global_facets = {{stuff_ui_needs["global_facets"] | safe}};
var chart_bins = {{stuff_ui_needs["keys"] | safe}};
var corpus = '{{stuff_ui_needs["corpus"]}}';
var query = '{{stuff_ui_needs["query"]}}';
var sents = {{stuff_ui_needs["sents"] | safe }};
var total_docs_for_q = {{stuff_ui_needs["total_docs_for_q"]}}
var facet_datas = {{stuff_ui_needs["facet_datas"] | safe}}
var first_story_pubdate = '{{stuff_ui_needs["first_story_pubdate"] | safe}}'
var last_story_pubdate = '{{stuff_ui_needs["last_story_pubdate"] | safe}}'
var base_url = "{{base_url}}"

</script>

<title>Rookie</title>
<link rel="stylesheet" href="{{ROOKIE_CSS}}bootstrap.min.css"></link>

</head>

<body>

<!--https://blog.mastykarz.nl/measuring-the-length-of-a-string-in-pixels-using-javascript/-->
<!--absolute position needed or it messes up layout-->
<div id="ruler"></div> 
<style type="text/css">
#ruler{ visibility: hidden; overflow-y: scroll; position: absolute;top: 80px;right: 100px;}

</style>
<script>
String.prototype.visualHeight = function()  
{
    var ruler = document.getElementById("ruler");
    ruler.innerHTML = this;
    return ruler.offsetHeight;
}
String.prototype.visualWidth = function()  
{
    var ruler = document.getElementById("ruler");
    ruler.innerHTML = this;
    return ruler.offsetWidth;
}
</script>


<div class="small-12 columns">
<div id="example"></div>
</div>

<script src="{{ROOKIE_JS}}bundle.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
