<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<script type="text/javascript">

var all_results = {{doc_list | safe}};
var binned_facets = {{binned_facets | safe}};
var q_data = {{q_datas | safe}};
var all_results = {{doc_list | safe}};
var global_facets = {{g_facets | safe}};
var chart_bins = {{chart_bins | safe}};
var f_counts = {{f_counts | safe}};
var corpus = "{{corpus}}";
var query = "{{query}}";
var total_docs_for_q = {{stuff_ui_needs["total_docs_for_q"]}}
var facet_datas = {{stuff_ui_needs["facet_datas"] | safe}}
var first_story_pubdate = {{stuff_ui_needs["first_story_pubdate"] | safe}}
var last_story_pubdate = {{stuff_ui_needs["last_story_pubdate"] | safe}}

</script>

<title>Rookie</title>
<link rel="stylesheet" href="{{ROOKIE_CSS}}c3.min.css"></link>
<link rel="stylesheet" href="{{ROOKIE_CSS}}foundation.min.css"></link>
<link rel="stylesheet" href="{{ROOKIE_CSS}}styles.min.css"></link>

</head>

<body>

<div class="small-12 columns">
<div id="example"></div>
</div>

<script src="{{ROOKIE_JS}}bundle.js"></script>
<script type="text/javascript">
$(document).ready(function() {
     $("#search_button").on("click", 
        function(){location.href="{{baseurl}}?q=" + $("#search_bar").val();}
    );
    $(document).keypress(function(e) {
      if(e.keyCode == 13) 
        {
          location.href="{{baseurl}}?q=" + $("#search_bar").val();
        }
    });
});
</script>

</body>
</html>