<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<title>Rookie</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"></link>
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

<script>

function post() {
    var imp = $("#imp").val();
    $.post( "/search_results?corpus=lens&q=" + imp, function( data ) {
      $("#search_results").html(data);
    });
}

$( document ).ready(function() {
    $("#search").on("click", function(){
        post();
    });
    $(document).keypress(function(e) {
        if(e.keyCode == 13) 
        {
          post();
        }
    });
});
</script>

</head>

<body>


  

<div class="row" style="padding-bottom: 7px; padding-left: 50px; width: 70%">

<form >
   <div class="form-group">
    <label for="exampleInputName2">Type in your name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>

<h4>
  <label style="color:grey" for="exampleInputName2">If you were a new reporter who just moved to New Orleans to cover Mitch Landrieu, which of the following topics would be important to research for your new job? </label>
</h3>

<label style="padding-top:5px" for="exampleInputName2">Burl Cain</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>


<label style="padding-top:15px" for="exampleInputName2">Consent decree</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>

<label style="padding-top:15px" for="exampleInputName2">Andy Kopplin</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios6" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>

<label style="padding-top:15px" for="exampleInputName2">Orleans parish prison</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios9" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios10" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>


<label style="padding-top:15px" for="exampleInputName2">Kyle Graham</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios11" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios12" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>



<label style="padding-top:15px" for="exampleInputName2">Erasure analysis</label>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios13" value="option2">
    Important
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios14" value="option1" checked>
    Not important
  </label>
</div>
<textarea class="form-control" placeholder="If you picked important, explain why" rows="3"></textarea>
</form>

<div style="padding-top:15px; float:right">
<button type="submit" class="btn btn-default">Submit</button>
</div>

</div>

</body>
</html>
