<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>


<title>Rookie</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"></link>
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

<script>

function post() {
    var imp = $("#imp").val();
    $.post( "/search_results?corpus=lens&q=" + imp, function( data ) {
      $("#search_results").html(data);
    });
}

$( document ).ready(function() {
    $("#search").on("click", function(){
        post();
    });
    $(document).keypress(function(e) {
        if(e.keyCode == 13) 
        {
          post();
        }
    });
});
</script>

</head>

<body>

<div class="row" style="padding-bottom: 7px; padding-left: 7px; width: 95%">
  <div class="col-lg-12">
    <div class="input-group">
      <input id="imp" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button id="search" class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div id="search_results">
{% include 'search_results.html' %}
</div>

</body>
</html>
