html,
body {
  height: 100%;
  position: relative;
  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
}

select {
	background-color: white;
  border: 1px solid #c3c3c3;
  width: 100%;
  height: 40px;
}

input[type="input"]:active {
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.text-box {
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
}

.fa-search:hover {
    color: inherit;
}
.fa-search{
    font-size: 1.1em;
}

.slim {
  height: 37px;
}

.filters {
  display: none;
}

.filters-wrapper {
  background-color: #F0F0F0;
  padding: 0.9375em;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.open-button {
  background-color: #c3c3c3;
}

.download {
  font-size: 0.9em;
  padding: 0 0.3rem;
}

.advanced-search {
  cursor: pointer;
  color: #B33125;
  font-size: 0.8em;
  padding-top: 4px;
  margin: 0 0 20px 0;
}

.advanced-search:hover {
  text-decoration: underline;
}

.search-button {
  font-size: 0.9em;
}

.contract-row-wrapper {
  margin: 0 0.9375rem;
}

.contract-row {
  /*cursor: pointer;*/
  border: 1px solid #c3c3c3;
  padding: 7px 0;
}

/*.contract-row:hover {
  background-color: #F5F5EF;
}*/

.contract-title {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
}

.contract-description {
  font-size: 12px;
  color: #191919;
  cursor: pointer;
}

.contract-date {
  cursor: pointer;
  color: #191919;
  font-size: 0.8em;
  padding-left: 15px;
}

.pagination {
  height: 20px;
  line-height: 20px;
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page,
.page-change {
  color: black;
  font-style: normal;
  display: inline-block;
  padding-top: 3px;
  padding: 3px;
  font-size: 1.2em;
}

.page-change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.attribution {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.9em;
}

/*.DC-search-embed.DC-skinny-width .DC-paginator .DC-paginator-enumeration {
  font-size: 9px;
}*/

/*.DC-search-embed.DC-skinny-width .DC-paginator .DC-paginator-enumeration {
  font-size: 9px;
}*/

.DV-docViewer {
  padding-left: 0;
}

.DC-search-embed .DC-title {
  text-align: left;
}

.DC-search-embed .DC-quiet-link {
  font-size: 9px;
}

.DC-search-embed .DC-document-list {
  overflow-y: auto;
}

.DC-search-embed .DC-paginator {
  font-size: 8px;
}

.DC-document-title {
  font-size: 12px;
  width: 100%;
}

.DV-container {
  height: 1000px;
  position: relative;
}

.DV-viewer {
  height: auto;
}

/***************

 8. Mobile view

 ***************/

@media screen and (max-width: 600px) {
  .open-button {
    margin-top: 15px;
  }
}
/***************

 9. Medium-view

 ***************/

@media screen and (min-width: 601px) and (max-width: 1024px) {
}

/****************

 10. Large width

 ****************/

@media screen and (min-width: 1025px) { 
}
