
.headline {
  color: #B33125;
  font-size: 18px;
}

.teaser{
  font-size: .9em;
}

.selected {
    text-decoration: underline;
    color: darkred !important;
} 

.c3-axis-y .tick {
  display: none;
}
    
span.dateline {
  color: #606060;
}

span.urlpreview {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: small;
  color: #C0C0C0;
}

.snippet{
  color:#303030;
  font-size: small; 
}

#search_button {
    background-color: #B33125;
    color: white;
}

input#search_bar {
    font-weight: bold;
}

#advanced_search {
    color: #B33125;
}

.search_status{
  color: gray;
  font-size: .9em;
}

.title{
  color: gray;
}

.term{
  color: gray;
  cursor: hand;
}

.page{
  color: #B33125;
}

.ui-widget-header{
  background: #B33125 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: white;
}

.ui-state-default, .ui-widget-header .ui-state-default {
    color: black !important;
}

.toggler {
    display: none;
}
