<div class="row">
  <div class="small-12 small-centered attribution columns" id="attribution">
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            Source: <a href="http://www.thelensnola.org" target="_blank">The Lens</a>
          </div>
        </div>
      </div>
      <div class="small-6 right columns">
        <div class="row">
          <div class="small-12 right columns">
            <div class="produced-by right" id="produced-by">
              In progress
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>